<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 align-self-center">
            <!-- <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                      <li class="breadcrumb-item text-muted"><a>Dashboard</a></li>
                        <li class="breadcrumb-item text-muted ">Reports</li>
                    </ol>
                </nav>
            </div>
            <br> -->
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
                <i data-feather="file-text"></i>&nbsp;Job Tickets Report
            </h3>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body p-3" style="margin-right: 10px;">
                  <div class="row">
                    <div class="col-md-2 col-lg-3">
                      <label class="mr-sm-2">{{'Type' | translate}}</label>
                      <ng-select [items]="statusSelectionList"
                                 bindLabel="text"
                                 bindValue="value" [(ngModel)]="filter.status" [ngModelOptions]="{standalone: true}" (change)="loadData()" placeholder="{{'Select_Type' |translate}}">
                      </ng-select>
                    </div>
                    <div class="col-md-2 col-lg-3">
                      <label class="mr-sm-2">{{'Customer' | translate}}</label>
                      <ng-select [items]="CustomerCodeList"
                                 bindLabel="text"
                                 bindValue="value" [(ngModel)]="filter.custCode" [ngModelOptions]="{standalone: true}"  (change)="onCustSiteCode($event.value)" placeholder="{{'Select_Customer' |translate}}">
                      </ng-select>
                   

                    </div>
                    <div class="col-md-2 col-lg-3">
                      <label class="mr-sm-2">{{'Project' | translate}}</label>
                     
                      <ng-select [items]="SiteCodeList"
                                 bindLabel="text"
                                 bindValue="value" [(ngModel)]="filter.siteCode" [ngModelOptions]="{standalone: true}" (change)="loadData()" placeholder="{{'Select_Project' |translate}}">
                      </ng-select>
                    </div>

                  </div>
                    &nbsp;
                  <div class="row">
                    <div class="col-md-3 col-lg-3">
      <div class="form-group ">
          <label class="mr-sm-2">
              {{'From' | translate}}
          </label>
          <div class="input-group ">
            <input class="form-control" [(ngModel)]="fromDateIp"
                   [ngModelOptions]="{standalone: true}" [matDatepicker]="picker1"
                   data-date-format='YYYY-MM-DD'>
            <div class="input-group-prepend datapickericon">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </div>
          </div>
      </div>
  </div>
                    <div class="col-md-3 col-lg-3">
      <div class="form-group ">
          <label class="mr-sm-2">
              {{'To' | translate}}
          </label>
          <div class="input-group ">
            <input class="form-control" [(ngModel)]="toDateIp"
                   [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2"
                   data-date-format='YYYY-MM-DD'>
            <div class="input-group-prepend datapickericon">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
      </div>
  </div>
                    <div class="col-md-3 col-lg-3 mt-2">
      <input type="submit" style="margin-top: 17px;"
          class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
          (click)="loadData()" value="{{'Generate Report' | translate}}" />
  </div>
                    

                    <div class="col-md-1 col-lg-1 mt-2">
                      <input type="submit" style="margin-top: 17px;"
                             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                             (click)="exportToExcel()" value="{{'Export' | translate}}" />
                    </div>
                    <div class="col-md-1 col-lg-1 mt-2">
                      <input type="submit" style="margin-top: 17px;"
                             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                             (click)="resetFilter()" value="{{'Reset' | translate}}" />
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
                          <div class="card-body">
                            <ng-container>
                              <div class="table-responsive">
                                <table class="table">
                                  <tr>
                                    <th style="border-radius: 15px 0px 0px 15px; color: black;">
                                      Ticket Number
                                    </th>
                                    <th style="color:black">
                                      Project Name
                                    </th>
                                    <th style="color:black">
                                      Customer Name
                                    </th>
                                    <th style="color:black">
                                      Maintainence Type
                                    </th>
                                    <th style="color:black">
                                      Service Type
                                    </th>
                                    <th style="color:black">
                                      Date Of Request
                                    </th>
                                    <th style="color:black">
                                      Status
                                    </th>
                                   
                                  </tr>
                                  <ng-container *ngFor="let row of data; let i=index;">
                                    <tr>
                                      <td style="border-radius: 15px 0px 0px 15px;color: #5f76e8;">
                                        {{row.ticketNumber}}
                                      </td>
                                      <td>
                                        {{row.projectNameEng}}
                                      </td>
                                      <td>
                                        {{row.customerCode}}
                                      </td>
                                      <td>
                                        {{row.jobMaintenanceType}}
                                      </td>
                                      <td>
                                        <!-- {{row.joDeptCode}}-->
                                        {{row.depNameEng}}
                                      </td>
                                      <td>
                                        {{row?.joDate| date:'dd/MM/YYYY'}}
                                      </td>
                                      <td>
                                        {{row.statusStr}}
                                      </td>
                                     
                                    </tr>
                                  </ng-container>
                                </table>
                                <mat-paginator [length]="totalItemsCount" [pageSize]="pageService.pageCount"
                                               [pageSizeOptions]="pageService.selectItemsPerPage" (page)="onPageSwitch($event)">
                                </mat-paginator>
                 
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        
                             
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    label.mr-sm-2 {
        font-size: larger;
        color: #000;
        font-weight: 500;

    }
</style>
