<!-- <div class="row" style="width: 122%;">
  <div class="col-md-8 col-lg-8">
    <div class="card" style="border: 1px solid #c7d0de;border-radius: 17px;">
      <div class="corrective-maintenance-parent">
        <div class="corrective-maintenance">Corrective maintenance</div>
        <img class="svgexport-17-24-1" alt="" src="../../assets/images/corrective_maintainence.svg">
      </div>
      <div class="card-body">
        <div class="card-group" style="margin-bottom: 19px;">
          <div class="card"
            style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
            <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block">
                <div class="group-parent">
                  <div class="rectangle-div1">
                    <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                      src="../../assets/images/Frame1.svg">
                  </div>
                  <div class="total-tickets-parent">
                    <div class="total-tickets">Total tickets</div>
                    <b class="b">474</b>
                  </div>

                </div>

                <div class="ml-auto mt-md-3 mt-lg-0">
                  <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card"
            style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
            <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block">
                <div class="group-parent">
                  <div class="rectangle-div2">
                    <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                      src="../../assets/images/Frame2.svg">
                  </div>
                  <div class="total-tickets-parent">
                    <div class="total-tickets">Closed tickets</div>
                    <b class="b">467</b>
                  </div>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                  <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card"
            style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
            <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block">
                <div class="group-parent">
                  <div class="rectangle-div3">
                    <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                      src="../../assets/images/Frame3.svg">
                  </div>
                  <div class="total-tickets-parent">
                    <div class="total-tickets">Pending tickets</div>
                    <b class="b">7</b>
                  </div>
                </div>

                <div class="ml-auto mt-md-3 mt-lg-0">
                  <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="discipline-wise">Discipline Wise</div>
        <div class="card-group" style="margin-bottom: -36px;">
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 10% 0% 0% 3%;height: 84%;" alt=""
                    src="../../assets/images/Frame4.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Electrical<span style="color: red;">(2)</span></div>
                  <b class="b11">116</b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 16% 0% 6% 19%;" alt=""
                    src="../../assets/images/Frame5.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Mechanical</div>
                  <b class="b11">2</b>
                </div>
                <img class="frame-icon" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 26% 0% 0% 5%;" alt=""
                    src="../../assets/images/Frame6.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Plumbing</div>
                  <b class="b11">44</b>
                </div>
                <img class="frame-icon4" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card-group" style="margin-bottom: 19px;">
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 8% 0% 0% 3%;" alt=""
                    src="../../assets/images/Frame7.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">HVAC</div>
                  <b class="b11">30</b>
                </div>
                <img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 8% 0% 0% 3%;" alt=""
                    src="../../assets/images/Frame8.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Civil<span style="color: red;">(1)</span></div>
                  <b class="b11">263</b>
                </div>
                <div class="frame-icon2">
                  <img alt="" src="../../assets/images/Frame10.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div">
                  <img class="group-icon" style="width: 87%;padding: 18% 0% 0% 12%;" alt=""
                    src="../../assets/images/Frame9.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Others</div>
                  <b class="b11">19</b>
                </div>
                <img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card" style="width: 50%;min-height: 45%;border-radius: 19px; border: 1px solid #c7d0de">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <h2 class="text-dark mb-1 font-weight-medium">864</h2>
            <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
          </div>

        </div>

      </div>

    </div>
    <div class="card" style="width: 50%;min-height: 45%;border-radius: 19px; border: 1px solid #c7d0de">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <h2 class="text-dark mb-1 font-weight-medium">864</h2>
            <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="width: 122%;">
  <div class="col-md-8 col-lg-8">
    <div class="card" style="width: 100%;min-height: 45%;border-radius: 19px; border: 1px solid #c7d0de">
      <div class="card-body">
        <div class="discipline-wise">Monthly Status</div>
        <div class="card-group">
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div1">
                  <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                    src="../../assets/images/Frame1.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Total Tickets</div>
                  <b class="b11">249</b>
                </div>
                <img class="frame-icon3" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div2">
                  <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                    src="../../assets/images/Frame2.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Closed Tickets</div>
                  <b class="b11">243</b>
                </div>
                <img class="frame-icon" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frame-parent15">
              <div class="group-parent5">
                <div class="rectangle-div3">
                  <img class="group-icon" style="width: 87%;padding: 23% 12% 10% 28%;height: 84%;" alt=""
                    src="../../assets/images/Frame3.svg">
                </div>
                <div class="security-guards-parent">
                  <div class="security-guards">Pending Tickets</div>
                  <b class="b11">6</b>
                </div>
                <img class="frame-icon4" alt="" src="../../assets/images/Frame10.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card" style="width: 50%;min-height: 87%;border-radius: 19px; border: 1px solid #c7d0de">
      <div class="card-body">
        <div class="d-flex d-lg-flex d-md-block align-items-center">
          <div>
            <h2 class="text-dark mb-1 font-weight-medium">864</h2>
            <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
        <div class="card-body">
          <div class="work-status">Work status</div>
          <ng-container>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th style="border-radius: 15px 0px 0px 15px; color: black;">
                    Repair/Replace
                  </th>
                  <th style="color:black">
                    Electrical
                  </th>
                  <th style="color:black">
                    Mechanical
                  </th>
                  <th style="color:black">
                    Plumbing
                  </th>
                  <th style="color:black">
                    HVAC
                  </th>
                  <th style="color:black">
                    Civil
                  </th>
                  <th style="color:black">
                    Others
                  </th>
                  <th style="border-radius: 0px 15px 15px 0px; color: black;">
                    Total
                  </th>
                </tr>

                <br>

                <tr>
                  <td  style="border-radius: 15px 0px 0px 15px;">
                    Repaired
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    13
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    54
                  </td>
                  <td>
                    16
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    88
                  </td>
                </tr>

                <br>

                <tr>
                  <td  style="border-radius: 15px 0px 0px 15px;">
                    Replaced
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    10
                  </td>
                  <td>
                    2
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    20
                  </td>
                </tr>

                <br>

                <tr>
                  <td  style="border-radius: 15px 0px 0px 15px;">
                    Under Process
                  </td>
                  <td>
                    None
                  </td>
                  <td>
                    None
                  </td>
                  <td>
                    None
                  </td>
                  <td>
                    None
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    1
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    8
                  </td>
                </tr>

                <br>

                <tr>
                  <td style="border-radius: 15px 0px 0px 15px;color: #5f76e8;">
                    Total
                  </td>
                  <td style="color: #5f76e8">
                    16
                  </td>
                  <td style="color: #5f76e8">
                    2
                  </td>
                  <td style="color: #5f76e8">
                    4
                  </td>
                  <td style="color: #5f76e8">
                    4
                  </td>
                  <td style="color: #5f76e8">
                    71
                  </td>
                  <td style="color: #5f76e8">
                    19
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;color: #5f76e8">
                    116
                  </td>
                </tr>

              </table>
            </div>

          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
        <div class="card-body">
          <div class="work-status">Recent Requests</div>
          <ng-container>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th style="border-radius: 15px 0px 0px 15px; color: black;">
                  </th>
                  <th>
                  </th>
                  <th style="color:black">
                    Project Name
                  </th>
                  <th style="color:black">
                    Date Of Request
                  </th>
                  <th style="color:black">
                    Order Of Request
                  </th>
                  <th style="color:black">
                    Maintainence Type
                  </th>
                  <th style="border-radius: 0px 15px 15px 0px; color: black;">
                    Status
                  </th>
                </tr>

                <br>

                <tr>
                  <td style="border-radius: 15px 0px 0px 15px;">
                  </td>
                  <td >
                    <img src="../../assets/images/Frame1.svg" alt="" style="width: 55%;min-height: 50%;">
                  </td>
                  <td >
                    Jeddah Yacht Club
                  </td>
                  <td>
                    10/10/2023
                  </td>
                  <td>
                    21584
                  </td>
                  <td>
                    Preventive
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    Completed
                  </td>
                </tr>

                <br>

                <tr>
                  <td style="border-radius: 15px 0px 0px 15px;">
                  </td>
                  <td >
                    <img src="../../assets/images/Frame1.svg" alt="" style="width: 55%;min-height: 50%;">
                  </td>
                  <td>
                    Jeddah Promenade
                  </td>
                  <td>
                    08/10/2023
                  </td>
                  <td>
                    14785
                  </td>
                  <td>
                    Corrective
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    In Progress
                  </td>
                </tr>

                <br>

                <tr>
                  <td style="border-radius: 15px 0px 0px 15px;">
                  </td>
                  <td >
                    <img src="../../assets/images/Frame1.svg" alt="" style="width: 55%;min-height: 50%;">
                  </td>
                  <td>
                    Jeddah Super Dome
                  </td>
                  <td>
                    07/10/2023
                  </td>
                  <td>
                    12589
                  </td>
                  <td>
                    Preventive
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    Completed
                  </td>
                </tr>

                <br>

                <tr>
                  <td style="border-radius: 15px 0px 0px 15px;">
                  </td>
                  <td >
                    <img src="../../assets/images/Frame1.svg" alt="" style="width: 55%;min-height: 50%;">
                  </td>
                  <td >
                    Red Sea Festival
                  </td>
                  <td >
                    01/10/2023
                  </td>
                  <td >
                    13695
                  </td>
                  <td >
                    Corrective
                  </td>
                  <td style="border-radius: 0px 15px 15px 0px;">
                    Incomplete
                  </td>
                </tr>

              </table>
            </div>

          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div>

  <!-- .
  .
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  .
  .
  . -->



  <div class="row" style="width: 122%;">
    <div class="col-md-8 col-lg-8">
      <div class="card" style="border: 1px solid #c7d0de;border-radius: 17px;">
        <div class="corrective-maintenance-parent">
          <div class="corrective-maintenance">Corrective maintenance</div>
          <img class="svgexport-17-24-1" alt="" src="../../assets/images/corrective_maintainence.svg">
        </div>
        <div class="card-body">
          <div class="card-group" style="margin-bottom: 19px;">
            <div class="card"
                 style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
              <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                  <div class="group-parent">
                    <div class="rectangle-div1">
                      <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                           src="../../assets/images/Frame1.svg">
                    </div>
                    <!-- <img class="frame-child" alt="" src="../../assets/images/Frame1.svg"> -->
                    <div class="total-tickets-parent">
                      <div class="total-tickets">Total tickets</div>
                      <b class="b">{{profmDashboard?.totalTickets}}</b>
                    </div>

                  </div>
                  <!-- <div>
                  <h6 class="font-weight-bold">Total Tickets</h6>
                  <br>
                  <div class="d-inline-flex align-items-center">
                    <h2 class="text-dark fw-bolder font-weight-medium w-500">236</h2>
                     <span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                  <!-- </div>
                  </div> -->
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions1.series"
                               [chart]="radialChartOptions1.chart" [plotOptions]="radialChartOptions1.plotOptions"
                               [labels]="radialChartOptions1.labels"></apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="card"
                 style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
              <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                  <div class="group-parent">
                    <div class="rectangle-div2">
                      <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                           src="../../assets/images/Frame2.svg">
                    </div>
                    <div class="total-tickets-parent">
                      <div class="total-tickets">Closed tickets</div>
                      <b class="b">{{profmDashboard?.closedTickets}}</b>
                    </div>
                  </div>
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions2.series"
                               [chart]="radialChartOptions2.chart" [plotOptions]="radialChartOptions2.plotOptions"
                               [labels]="radialChartOptions2.labels"></apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="card"
                 style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
              <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                  <div class="group-parent">
                    <div class="rectangle-div3">
                      <img class="frame-child" style="width: 87%;padding: 18% 0% 0% 11%;height: 84%;" alt=""
                           src="../../assets/images/Frame3.svg">
                    </div>
                    <div class="total-tickets-parent">
                      <div class="total-tickets">Pending tickets</div>
                      <b class="b">{{profmDashboard?.pendingTickets}}</b>
                    </div>
                  </div>
                  <!-- <div>
                  <h6 class="font-weight-bold">Total Tickets</h6>
                  <br>
                  <div class="d-inline-flex align-items-center">
                    <h2 class="text-dark fw-bolder font-weight-medium w-500">236</h2>
                     <span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                  <!-- </div>
                  </div> -->
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions3.series"
                               [chart]="radialChartOptions3.chart" [plotOptions]="radialChartOptions3.plotOptions"
                               [labels]="radialChartOptions3.labels"></apx-chart>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="discipline-wise">Discipline Wise</div>
          <div class="card-group" style="margin-bottom: -36px;">
            <div *ngIf="profmDashboard?.depWiseData?.length>0" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div">
                    <img class="group-icon" style="width: 87%;padding: 10% 0% 0% 3%;height: 84%;" alt=""
                         src="../../assets/images/Frame4.svg">
                  </div>
                  <div class="security-guards-parent">
                    <!--<div class="security-guards">Electrical</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[0].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[0].totalTickets}}</b>
                  </div>
                  <!--<div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                      <img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <div *ngIf="profmDashboard?.depWiseData?.length>1" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div">
                    <img class="group-icon" style="width: 87%;padding: 16% 0% 6% 19%;" alt=""
                         src="../../assets/images/Frame5.svg">
                  </div>
                  <div class="security-guards-parent">
                    <!-- <div class="security-guards">Mechanical</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[1].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[1].totalTickets}}</b>
                  </div>
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                      <!--<img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="profmDashboard?.depWiseData?.length>2" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div">
                    <img class="group-icon" style="width: 87%;padding: 26% 0% 0% 5%;" alt=""
                         src="../../assets/images/Frame6.svg">
                  </div>
                  <div class="security-guards-parent">
                    <!--  <div class="security-guards">Plumbing</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[2].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[2].totalTickets}}</b>
                  </div>
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                      <!--<img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card-group" style="margin-bottom: 19px;">
            <div *ngIf="profmDashboard?.depWiseData?.length>3" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <img class="frame-child37" alt="" src="../../assets/images/Frame7.svg" />
                  <div class="security-guards-parent">
                    <!--<div class="security-guards">HVAC</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[3].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[3].totalTickets}}</b>
                  </div>
                  <!--<img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">-->
                </div>
              </div>
            </div>
            <div *ngIf="profmDashboard?.depWiseData?.length>4" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <img class="frame-child37" alt="" src="../../assets/images/Frame8.svg" />
                  <div class="security-guards-parent">
                    <!--<div class="security-guards">Civil</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[4].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[4].totalTickets}}</b>
                  </div>
                  <!--<img class="frame-icon2" alt="" src="../../assets/images/Frame10.svg">-->
                </div>
              </div>
            </div>
            <div *ngIf="profmDashboard?.depWiseData?.length>5" class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <img class="frame-child37" alt="" src="../../assets/images/Frame9.svg" />
                  <div class="security-guards-parent">
                    <!-- <div class="security-guards">Others</div>-->
                    <div class="security-guards">{{profmDashboard?.depWiseData[5].department}}</div>
                    <b class="b11">{{profmDashboard?.depWiseData[5].totalTickets}}</b>
                  </div>
                  <!--<img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 50%;min-height: 43%;border-radius: 19px; border: 1px solid #c7d0de">
        <div class="card-body">
          <div class="d-flex d-lg-flex d-md-block align-items-center">
            <div style="vertical-align:middle">
              <b class="b11">{{'Overall_Performance'|translate}} </b>
              <div id="chart">
                <apx-chart [series]="semiRadialChartOptions1.series" [chart]="semiRadialChartOptions1.chart"
                           [plotOptions]="semiRadialChartOptions1.plotOptions" [labels]="semiRadialChartOptions1.labels"
                           [fill]="semiRadialChartOptions1.fill"></apx-chart>
              </div>

            </div>
            <!-- <div class="ml-auto mt-md-3 mt-lg-0">
              <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
            </div> -->
          </div>

        </div>

      </div>
      <div class="card" style="width: 50%;min-height: 43%;border-radius: 19px; border: 1px solid #c7d0de">
        <div class="card-body">
          <div class="d-flex d-lg-flex d-md-block align-items-center">
            <div style="vertical-align:middle">
              <b class="b11">{{'Monthly_Performance'|translate}} </b>
              <div id="chart">
                <apx-chart [series]="semiRadialChartOptions2.series" [chart]="semiRadialChartOptions2.chart"
                           [plotOptions]="semiRadialChartOptions2.plotOptions" [labels]="semiRadialChartOptions2.labels"
                           [fill]="semiRadialChartOptions2.fill"></apx-chart>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Monthly Activities Start -->
  <div class="row" style="width: 122%;">
    <div class="col-md-8 col-lg-8">
      <div class="card" style="width: 100%;min-height: 45%;border-radius: 19px; border: 1px solid #c7d0de">
        <div class="card-body">
          <div class="discipline-wise">Monthly Activities</div>
          <div class="card-group">
            <div class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div1">
                    <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                         src="../../assets/images/Frame1.svg">
                  </div>
                  <div class="security-guards-parent">
                    <div class="security-guards">{{'Total_Tickets'|translate}}</div>
                    <b class="b11">{{profmDashboard?.last30DaysData?.totalTickets}}</b>
                  </div>
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions4.series"
                               [chart]="radialChartOptions4.chart" [plotOptions]="radialChartOptions4.plotOptions"
                               [labels]="radialChartOptions4.labels"></apx-chart>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div2">
                    <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                         src="../../assets/images/Frame2.svg">
                  </div>
                  <div class="security-guards-parent">
                    <div class="security-guards">{{'Closed_Tickets'|translate}}</div>
                    <b class="b11">{{profmDashboard?.last30DaysData?.closedTickets}}</b>
                  </div>
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions5.series"
                               [chart]="radialChartOptions5.chart" [plotOptions]="radialChartOptions5.plotOptions"
                               [labels]="radialChartOptions5.labels"></apx-chart>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="frame-parent15">
                <div class="group-parent5">
                  <div class="rectangle-div3">
                    <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                         src="../../assets/images/Frame3.svg">
                  </div>
                  <div class="security-guards-parent">
                    <div class="security-guards">{{'Pending_Tickets'|translate}}</div>
                    <b class="b11">{{profmDashboard?.last30DaysData?.pendingTickets}}</b>
                  </div>
                  <div class="ml-5 mt-4 md-0 mt-lg-1">
                    <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions6.series"
                               [chart]="radialChartOptions6.chart" [plotOptions]="radialChartOptions6.plotOptions"
                               [labels]="radialChartOptions6.labels"></apx-chart>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="card" style="width: 50%;min-height: 87%;border-radius: 19px; border: 1px solid #c7d0de">
        <b class="b11">{{'Monthly_Status'|translate}} </b>
        <div class="card-body">
          <div class="d-flex d-lg-flex d-md-block align-items-center">
            <div style="vertical-align:center">
              <div id="chart">
                <apx-chart [series]="monthlyChartOptions.series" [chart]="monthlyChartOptions.chart"
                           [dataLabels]="monthlyChartOptions.dataLabels" [plotOptions]="monthlyChartOptions.plotOptions"
                           [yaxis]="monthlyChartOptions.yaxis" [legend]="monthlyChartOptions.legend"
                           [fill]="monthlyChartOptions.fill" [stroke]="monthlyChartOptions.stroke"
                           [tooltip]="monthlyChartOptions.tooltip" [xaxis]="monthlyChartOptions.xaxis"></apx-chart>
              </div>

            </div>
            <!-- <div class="ml-auto mt-md-3 mt-lg-0">
              <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Monthly Activities End -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
          <div class="card-body">
            <div class="work-status">Work status</div>
            <ng-container>
              <table class="table">
                <thead>
                  <tr>
                    <ng-container>
                      <th style="color: black;"><label for=e1> {{'Status' | translate}}</label>
                    </ng-container>
                    <ng-container *ngFor="let dep of profmDashboard?.depAndStatusWiseData[0].depsDataList;">
                      <th style="color: black;">
                        {{dep.departmentNameEng}}
                      </th>
                    </ng-container>
                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let row of profmDashboard?.depAndStatusWiseData;">
                    <ng-container>
                      <td>{{row.statusStr}}</td>
                    </ng-container>

                    <ng-container *ngFor="let c of row.depsDataList">
                      <td>
                        {{c.count}}
                      </td>
                    </ng-container>

                  </tr>
                </tbody>

              </table>

            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
          <div class="card-body">
            <div class="recent-requests">Recent Requests</div>

            <ng-container>
              <table class="table">
                <thead>
                  <tr>
                    <ng-container>
                      <th style="color:black;">
                        {{'Project_Name' | translate}}
                      </th>
                      <th style="color:black;">
                        {{'Date_Of_Request' | translate}}
                      </th>
                      <th style="color:black;">
                        {{'Order_Of_Request' | translate}}
                      </th>
                      <th style="color:black;">
                        {{'Maintainence_Type' | translate}}
                      </th>
                      <th style="color:black">
                        {{'Status' | translate}}
                      </th>
                    </ng-container>

                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let row of profmDashboard?.recentTickets;">
                    <ng-container>
                      <td>{{row.projectNameEng}}</td>
                      <td>{{row.date|date:'dd/MM/YYYY'}}</td>
                      <td>{{row.ticketNumber}}</td>
                      <td>{{row.maintananceType}}</td>
                      <td>{{row.statusStr}}</td>


                    </ng-container>



                  </tr>
                </tbody>

              </table>

            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    table {
      border-collapse: separate;
      border-spacing: 0;
    }

    /* table,tr {
    border-bottom: 1px solid #d3e2cf;
  } */

    .table td {
      border-top: 1px solid #d3e2cf;
      border-bottom: 1px solid #d3e2cf;
      text-align: center;
      color: black;
      font-weight: 400;
    }

    .table th {
      text-align: center;
      font-weight: 600;
    }
</style>
