<div>
  <div class="card" style="border: 1px solid #c7d0de;border-radius: 17px;">
    <div class="card-body">
  <form [formGroup]="form" novalidate class="mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <select class="custom-select mr-sm-2 p-2" (change)="changeSelection();" formControlName="contractId">
          <option value="">Select Customer Contract</option>
          <ng-container *ngIf="CustomerContractList">
            <option *ngFor="let ccl of CustomerContractList" value="{{ccl.value}}">{{ccl.text}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <select class="custom-select mr-sm-2 p-2" (change)="changeSelection();" formControlName="customerCode">
          <option value="">{{'Select' | translate}} {{'Customer_Code' | translate}}</option>
          <ng-container *ngIf="CustomerCodeList">
            <option *ngFor="let item of CustomerCodeList" value="{{item.custCode}}">{{ isArab ? item.custCode : item.custCode  }}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="form-group">
          <div class="mb-2">
            <input class="form-control datapickerinput p-2" placeholder="{{'Select_A_Date' | translate}}" 
                   [matDatepicker]="picker" formControlName="userDate">
            <div class="input-group-prepend datapickericon" style="float:right;position:absolute;right:-12%;top:0;">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" (monthSelected)="chosenMonthHandler($event,picker)" data-date-format="mm/yyyy"></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
    <div class="row" style="width: 122%;">
      <div class="col-md-8 col-lg-8">
        <div class="card" style="border: 1px solid #c7d0de;border-radius: 17px;">
          <div class="corrective-maintenance-parent">
            <div class="corrective-maintenance">Corrective maintenance</div>
            <!--<img class="svgexport-17-24-1" alt="" src="../../assets/images/corrective_maintainence.svg">-->
          </div>
          <div class="card-body">
            <div class="card-group" style="margin-bottom: 19px;">
              <div class="card"
                   style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
                <div class="card-body">
                  <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                    <div class="group-parent">
                      <div class="rectangle-div1">
                        <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                             src="../../assets/images/Frame1.svg">
                      </div>
                      <!-- <img class="frame-child" alt="" src="../../assets/images/Frame1.svg"> -->
                      <div class="total-tickets-parent">
                        <div class="total-tickets">Total tickets</div>
                        <b class="b">{{profmDashboard?.totalTickets}}</b>
                      </div>

                    </div>
                    <!-- <div>
                    <h6 class="font-weight-bold">Total Tickets</h6>
                    <br>
                    <div class="d-inline-flex align-items-center">
                      <h2 class="text-dark fw-bolder font-weight-medium w-500">236</h2>
                       <span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                    <!-- </div>
                    </div> -->
                    <div class="ml-5 mt-4 md-0 mt-lg-1">
                      <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions1.series"
                                 [chart]="radialChartOptions1.chart" [plotOptions]="radialChartOptions1.plotOptions"
                                 [labels]="radialChartOptions1.labels"></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card"
                   style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
                <div class="card-body">
                  <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                    <div class="group-parent">
                      <div class="rectangle-div2">
                        <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                             src="../../assets/images/Frame2.svg">
                      </div>
                      <div class="total-tickets-parent">
                        <div class="total-tickets">Closed tickets</div>
                        <b class="b">{{profmDashboard?.closedTickets}}</b>
                      </div>
                    </div>
                    <div class="ml-5 mt-4 md-0 mt-lg-1">
                      <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions2.series"
                                 [chart]="radialChartOptions2.chart" [plotOptions]="radialChartOptions2.plotOptions"
                                 [labels]="radialChartOptions2.labels"></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card"
                   style="width: 500px;display: table;padding: 1%;margin: 1%;border-radius: 19px;border: 1px solid #d3e2cf;">
                <div class="card-body">
                  <div class="d-flex d-lg-flex d-md-block" style="gap: 10%;">
                    <div class="group-parent">
                      <div class="rectangle-div3">
                        <img class="frame-child" style="width: 87%;padding: 18% 0% 0% 11%;height: 84%;" alt=""
                             src="../../assets/images/Frame3.svg">
                      </div>
                      <div class="total-tickets-parent">
                        <div class="total-tickets">Pending tickets</div>
                        <b class="b">{{profmDashboard?.pendingTickets}}</b>
                      </div>
                    </div>
                    <!-- <div>
                    <h6 class="font-weight-bold">Total Tickets</h6>
                    <br>
                    <div class="d-inline-flex align-items-center">
                      <h2 class="text-dark fw-bolder font-weight-medium w-500">236</h2>
                       <span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span> -->
                    <!-- </div>
                    </div> -->
                    <div class="ml-5 mt-4 md-0 mt-lg-0">
                      <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions3.series"
                                 [chart]="radialChartOptions3.chart" [plotOptions]="radialChartOptions3.plotOptions"
                                 [labels]="radialChartOptions3.labels"></apx-chart>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="discipline-wise">Discipline Wise</div>
            <div class="card-group" style="margin-bottom: -36px;">
              <div *ngIf="profmDashboard?.depWiseData?.length>0" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="rectangle-div">
                      <img class="group-icon" style="width: 87%;padding: 10% 0% 0% 3%;height: 84%;" alt=""
                           src="../../assets/images/Frame4.svg">
                    </div>
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!--<div class="security-guards">Electrical</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[0].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[0].totalTickets}}</b>
                    </div>
                    <!--<div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">
                        <img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
              <div *ngIf="profmDashboard?.depWiseData?.length>1" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="rectangle-div">
                      <img class="group-icon" style="width: 87%;padding: 16% 0% 6% 19%;" alt=""
                           src="../../assets/images/Frame5.svg">
                    </div>
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!-- <div class="security-guards">Mechanical</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[1].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[1].totalTickets}}</b>
                    </div>
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">
                        <!--<img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="profmDashboard?.depWiseData?.length>2" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="rectangle-div">
                      <img class="group-icon" style="width: 87%;padding: 26% 0% 0% 5%;" alt=""
                           src="../../assets/images/Frame6.svg">
                    </div>
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!--  <div class="security-guards">Plumbing</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[2].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[2].totalTickets}}</b>
                    </div>
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">
                        <!--<img class="frame-icon6" alt="" src="../../assets/images/Frame10.svg">-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="card-group" style="margin-bottom: 19px;">
              <div *ngIf="profmDashboard?.depWiseData?.length>3" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="rectangle-div">
                      <img class="group-icon" style="width: 85%;padding: 14% 0% 0% 12%;" alt=""
                           src="../../assets/images/Frame7.svg">
                    </div>
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!--<div class="security-guards">HVAC</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[3].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[3].totalTickets}}</b>
                    </div>
                    <!--<img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">-->
                  </div>
                </div>
              </div>
              <div *ngIf="profmDashboard?.depWiseData?.length>4" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="rectangle-div">
                      <img class="group-icon" style="width: 85%;padding: 14% 0% 0% 12%;" alt=""
                           src="../../assets/images/Frame8.svg">
                    </div>
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!--<div class="security-guards">Civil</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[4].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[4].totalTickets}}</b>
                    </div>
                    <!--<img class="frame-icon2" alt="" src="../../assets/images/Frame10.svg">-->
                  </div>
                </div>
              </div>
              <div *ngIf="profmDashboard?.depWiseData?.length>5" class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <img class="frame-child37" alt="" src="../../assets/images/Frame9.svg" />
                    <div class="security-guards-parent" style="margin-left: 8px;">
                      <!-- <div class="security-guards">Others</div>-->
                      <div class="security-guards">{{profmDashboard?.depWiseData[5].department}}</div>
                      <b class="b11">{{profmDashboard?.depWiseData[5].totalTickets}}</b>
                    </div>
                    <!--<img class="frame-icon1" alt="" src="../../assets/images/Frame10.svg">-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="card" style="width: 50%;min-height: 43%;border-radius: 19px; border: 1px solid #c7d0de">
          <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
              <div style="vertical-align:middle;text-align: center;">
                <b class="b11">{{'Overall Performance'|translate}} </b>
                <div id="chart">
                  <apx-chart [series]="semiRadialChartOptions1.series" [chart]="semiRadialChartOptions1.chart"
                             [plotOptions]="semiRadialChartOptions1.plotOptions" [labels]="semiRadialChartOptions1.labels"
                             [fill]="semiRadialChartOptions1.fill"></apx-chart>
                </div>

              </div>
              <!-- <div class="ml-auto mt-md-3 mt-lg-0">
                <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
              </div> -->
            </div>

          </div>

        </div>
        <div class="card" style="width: 50%;min-height: 43%;border-radius: 19px; border: 1px solid #c7d0de">
          <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
              <div style="vertical-align:middle;text-align: center;">
                <b class="b11">{{'Monthly Performance'|translate}} </b>
                <div id="chart">
                  <apx-chart [series]="semiRadialChartOptions2.series" [chart]="semiRadialChartOptions2.chart"
                             [plotOptions]="semiRadialChartOptions2.plotOptions" [labels]="semiRadialChartOptions2.labels"
                             [fill]="semiRadialChartOptions2.fill"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Monthly Activities Start -->
    <div class="row" style="width: 122%;">
      <div class="col-md-8 col-lg-8">
        <div class="card" style="width: 100%;min-height: 45%;border-radius: 19px; border: 1px solid #c7d0de">
          <div class="card-body">
            <div class="discipline-wise">Monthly Activities</div>
            <div class="card-group">
              <div class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="row">
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="rectangle-div1">
                          <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                               src="../../assets/images/Frame1.svg">
                        </div>
                      </div>
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="security-guards-parent">
                          <div class="security-guards">{{'Total Tickets'|translate}}</div>
                          <b class="b11">{{profmDashboard?.last30DaysData?.totalTickets}}</b>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="ml-5 mt-4 md-0 mt-lg-1">
                          <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions4.series"
                                     [chart]="radialChartOptions4.chart" [plotOptions]="radialChartOptions4.plotOptions"
                                     [labels]="radialChartOptions4.labels"></apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="row">
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="rectangle-div2">
                          <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                               src="../../assets/images/Frame2.svg">
                        </div>
                      </div>
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="security-guards-parent">
                          <div class="security-guards">{{'Closed Tickets'|translate}}</div>
                          <b class="b11">{{profmDashboard?.last30DaysData?.closedTickets}}</b>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="ml-5 mt-4 md-0 mt-lg-1">
                          <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions5.series"
                                     [chart]="radialChartOptions5.chart" [plotOptions]="radialChartOptions5.plotOptions"
                                     [labels]="radialChartOptions5.labels"></apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="frame-parent15">
                  <div class="group-parent5">
                    <div class="row">
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="rectangle-div3">
                          <img class="frame-child" style="width: 87%;    padding: 18% 0% 0% 11%;height: 84%;" alt=""
                               src="../../assets/images/Frame3.svg">
                        </div>
                      </div>
                      <div class="col-3" style="margin-top: 18px;">
                        <div class="security-guards-parent">
                          <div class="security-guards">{{'Pending Tickets'|translate}}</div>
                          <b class="b11">{{profmDashboard?.last30DaysData?.pendingTickets}}</b>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="ml-5 mt-4 md-0 mt-lg-1">
                          <apx-chart style="padding:0 0 0 0;" [series]="radialChartOptions6.series"
                                     [chart]="radialChartOptions6.chart" [plotOptions]="radialChartOptions6.plotOptions"
                                     [labels]="radialChartOptions6.labels"></apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="card" style="width: 50%;min-height: 87%;border-radius: 19px; border: 1px solid #c7d0de">
          <b class="b11">{{'Monthly_Status'|translate}} </b>
          <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
              <div style="vertical-align:center">
                <div id="chart">
                  <apx-chart [series]="monthlyChartOptions.series" [chart]="monthlyChartOptions.chart"
                             [dataLabels]="monthlyChartOptions.dataLabels" [plotOptions]="monthlyChartOptions.plotOptions"
                             [yaxis]="monthlyChartOptions.yaxis" [legend]="monthlyChartOptions.legend"
                             [fill]="monthlyChartOptions.fill" [stroke]="monthlyChartOptions.stroke"
                             [tooltip]="monthlyChartOptions.tooltip" [xaxis]="monthlyChartOptions.xaxis"></apx-chart>
                </div>

              </div>
              <!-- <div class="ml-auto mt-md-3 mt-lg-0">
                <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
              </div> -->
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- Monthly Activities End -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
            <div class="card-body">
              <div class="work-status">Work status</div>
              <ng-container>
                <table class="table">
                  <thead>
                    <tr>
                      <ng-container>
                        <th style="color: black;"><label for=e1> {{'Status' | translate}}</label>
                      </ng-container>
                      <ng-container *ngFor="let dep of profmDashboard?.depAndStatusWiseData[0].depsDataList;">
                        <th style="color: black;">
                          {{dep.departmentNameEng}}
                        </th>
                      </ng-container>
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let row of profmDashboard?.depAndStatusWiseData;">
                      <ng-container>
                        <td>{{row.statusStr}}</td>
                      </ng-container>

                      <ng-container *ngFor="let c of row.depsDataList">
                        <td>
                          {{c.count}}
                        </td>
                      </ng-container>

                    </tr>
                  </tbody>

                </table>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card" style="border-radius: 19px; border: 1px solid #c7d0de">
            <div class="card-body">
              <div class="recent-requests">Recent Requests</div>

              <ng-container>
                <table class="table">
                  <thead>
                    <tr>
                      <ng-container>
                        <th style="color:black;">
                          {{'Project_Name' | translate}}
                        </th>
                        <th style="color:black;">
                          {{'Date_Of_Request' | translate}}
                        </th>
                        <th style="color:black;">
                          {{'Order_Of_Request' | translate}}
                        </th>
                        <th style="color:black;">
                          {{'Maintainence_Type' | translate}}
                        </th>
                        <th style="color:black">
                          {{'Status' | translate}}
                        </th>
                      </ng-container>

                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let row of profmDashboard?.recentTickets;">
                      <ng-container>
                        <td>{{row.projectNameEng}}</td>
                        <td>{{row.date|date:'dd/MM/YYYY'}}</td>
                        <td>{{row.ticketNumber}}</td>
                        <td>{{row.maintananceType}}</td>
                        <td>{{row.statusStr}}</td>


                      </ng-container>



                    </tr>
                  </tbody>

                </table>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<style>
    table {
      border-collapse: separate;
      border-spacing: 0;
    }

    /* table,tr {
    border-bottom: 1px solid #d3e2cf;
  } */

    .table td {
      border-top: 1px solid #d3e2cf;
      border-bottom: 1px solid #d3e2cf;
      text-align: center;
      color: black;
      font-weight: 400;
    }

    .table th {
      text-align: center;
      font-weight: 600;
    }
</style>
