<h3 class="modal-title">{{modalTitle | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'ReasonCode' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'ReasonCode' | translate}}" formControlName="reasonCode" readonly>
        <validation-message [control]="form.controls.reasonCode"></validation-message>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'ReasonCode_Name_English' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'ReasonCode_Name_English' | translate}}" formControlName="reasonCodeNameEng">
        <validation-message [control]="form.controls.reasonCodeNameEng"></validation-message>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'ReasonCode_Name_Arab' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'ReasonCode_Name_Arab' | translate}}" formControlName="reasonCodeNameArb">
        <validation-message [control]="form.controls.reasonCodeNameArb"></validation-message>
      </div>
    </div>


   <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'Description_Eng' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Description_Eng' | translate}}" formControlName="descriptionEng">
        <validation-message [control]="form.controls.descriptionEng"></validation-message>
      </div>
    </div>


   <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'Description_Arb' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Description_Arb' | translate}}" formControlName="descriptionArb">
        <validation-message [control]="form.controls.descriptionArb"></validation-message>
      </div>
    </div>


  
    <div class="col-md-2 col-lg-2">
      <div class="form-group">
        <label>{{'Is_Active' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
      </div>
    </div>
<div class="col-md-2 col-lg-2">
      <div class="form-group">
        <label>{{'IsForCustomerVisit' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isForCustomerVisit"></mat-slide-toggle>
      </div>
    </div>
<div class="col-md-2 col-lg-2">
      <div class="form-group">
        <label>{{'IsForCustomerComplaint' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isForCustomerComplaint"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
      <input type="submit"
             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
             value="{{'Save' | translate}}" />
    </div>
  </div>
</form>
