<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}</h3>
  <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
</div>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label for="contractCode">{{'Contract_Code' | translate}}</label>
        <input class="form-control" id="contractCode" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Contract_Code' | translate}} "
               formControlName="contractCode" [readonly]="isReadOnly">
        <div *ngIf="form.controls.contractCode.hasError('maxlength')">
          Maximum(20) length exceeded.
        </div>
        <validation-message [control]="form.controls.contractCode"></validation-message>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label>{{'Customer_Code' | translate}}</label>
        <select class="custom-select mr-sm-2" formControlName="custCode" (change)="onCustSiteCode($event.target.value)">
          <option value="">{{'Select' | translate}} {{'Customer_Code' | translate}} </option>
          <ng-container *ngIf="CustomerCodeList">
            <option *ngFor="let item of CustomerCodeList" value="{{item.custCode}}">{{ isArab ? item.custCode : item.custCode  }}</option>
          </ng-container>
        </select>

        <validation-message [control]="form.controls.custCode"></validation-message>
      </div>
    </div>



    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label>{{'Customer_Site_Code' | translate}}</label>
        <select class="custom-select mr-sm-2" formControlName="custSiteCode">
          <option value="">{{'Select' | translate}} {{'Customer_Site_Code' | translate}} </option>
          <ng-container *ngIf="SiteCodeList">
            <option *ngFor="let item of SiteCodeList" value="{{item.value}}">{{ isArab ? item.text : item.text  }}</option>
          </ng-container>
        </select>

        <validation-message [control]="form.controls.custSiteCode"></validation-message>
      </div>
    </div>

  </div>
  <hr />


  <!--<div class="col-md-4 col-lg-4">-->
  <!--<div class="form-group d-flex align-items-center">-->
  <!--<div class="form-group">
  <label for="deptCodes">{{ 'Department_Codes (Hard Services)' | translate }}</label>
  <ng-select [multiple]="true" formControlName="contDeptCode" (change)="onDeptCodeChange($event)">
    <ng-option [value]="'Select All'">Select All</ng-option>
    <ng-option *ngFor="let deptCode of DepartmentCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
      {{ deptCode.nameEng }}
    </ng-option>
  </ng-select>-->
  <!--<button type="button" class="btn btn-primary ml-2" (click)="openModal()">Activities</button>-->
  <!--<validation-message [control]="form.controls.contDeptCode"></validation-message>-->
  <!-- Button to trigger the modal -->
  <!--<button type="button" class="btn btn-primary ml-2" (click)="openModal()">Activities</button>
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <div class="form-group">
      <label for="deptCodes">{{'Department_Codes (Soft Services)' | translate}}</label>
      <ng-select [multiple]="true" formControlName="contDeptSoftCode" (change)="onDeptSoftCodeChange($event)">
        <ng-option [value]="'Select All'">Select All</ng-option>
        <ng-option *ngFor="let deptCode of DepartmentSoftCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
        {{deptCode.nameEng}}</ng-option>
      </ng-select>
      <validation-message [control]="form.controls.contDeptSoftCode"></validation-message>
      <button type="button" class="btn btn-primary ml-2" (click)="openSoftModal()">Activities</button>
    </div>
  </div>

  <div class="col-md-4 col-lg-4">-->
  <!--<div class="form-group d-flex align-items-center">-->
  <!--<div class="form-group">
  <label for="deptCodes">{{ 'Department_Codes (Special Services)' | translate }}</label>
  <ng-select [multiple]="true" formControlName="contDeptSpecialCode" (change)="onDeptSpecialCodeChange($event)">
    <ng-option [value]="'Select All'">Select All</ng-option>
    <ng-option *ngFor="let deptCode of DepartmentSpecializedCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
      {{ deptCode.nameEng }}
    </ng-option>
  </ng-select>
  <validation-message [control]="form.controls.contDeptSpecialCode"></validation-message>

  <button type="button" class="btn btn-primary ml-2" (click)="openSpecialModal()">Activities</button>-->
  <!-- Button to trigger the modal -->
  <!--</div>
  </div>-->

  <div class="row">

    <!-- Department Codes (Hard Services) -->
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label for="deptCodes">{{ 'Disciplines(Hard Services)' | translate }}</label>
        <ng-select [multiple]="true" formControlName="contDeptCode" (change)="onDeptCodeChange($event)">
          <ng-option [value]="'Select All'">Select All</ng-option>
          <ng-option *ngFor="let deptCode of DepartmentCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
            {{ deptCode.nameEng }}
          </ng-option>
        </ng-select>
        <validation-message [control]="form.controls.contDeptCode"></validation-message>
        <button type="button" class="btn btn-primary ml-2" (click)="openModal()">Activities</button>
      </div>
    </div>

    <!-- Department Codes (Soft Services) -->
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label for="deptCodes">{{ 'Disciplines(Soft Services)' | translate }}</label>
        <ng-select [multiple]="true" formControlName="contDeptSoftCode" (change)="onDeptSoftCodeChange($event)">
          <ng-option [value]="'Select All'">Select All</ng-option>
          <ng-option *ngFor="let deptCode of DepartmentSoftCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
            {{ deptCode.nameEng }}
          </ng-option>
        </ng-select>
        <validation-message [control]="form.controls.contDeptSoftCode"></validation-message>
        <button type="button" class="btn btn-primary ml-2" (click)="openSoftModal()">Activities</button>
      </div>
    </div>

    <!-- Department Codes (Special Services) -->
    <div class="col-md-4 col-lg-4">
      <div class="form-group">
        <label for="deptCodes">{{ 'Disciplines(Specialized Services)' | translate }}</label>
        <ng-select [multiple]="true" formControlName="contDeptSpecialCode" (change)="onDeptSpecialCodeChange($event)">
          <ng-option [value]="'Select All'">Select All</ng-option>
          <ng-option *ngFor="let deptCode of DepartmentSpecializedCodeList" [value]="deptCode" [disabled]="deptCode?.disabled">
            {{ deptCode.nameEng }}
          </ng-option>
        </ng-select>
        <validation-message [control]="form.controls.contDeptSpecialCode"></validation-message>
        <button type="button" class="btn btn-primary ml-2" (click)="openSpecialModal()">Activities</button>
      </div>
    </div>



  </div>
  <hr />
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Contract_Start_Date' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control"
                 placeholder=" {{'Please_Enter' | translate}} {{'Contract_Start_Date' | translate}}"
                 formControlName="contStartDate" [matDatepicker]="picker1">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <validation-message [control]="form.controls.contStartDate"></validation-message>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Contract_End_Date' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control"
                 placeholder=" {{'Please_Enter' | translate}} {{'Contract_End_Date' | translate}}"
                 formControlName="contEndDate" [matDatepicker]="picker2">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>

            <validation-message [control]="form.controls.contEndDate"></validation-message>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--<div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="contProjManager">{{'Contract_Project_Manager' | translate}}</label>

        <input class="form-control" id="contProjManager" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Contract_Project_Manager' | translate}} "
               formControlName="contProjManager" [readonly]="isReadOnly">
        <validation-message [control]="form.controls.contProjManager"></validation-message>
      </div>
    </div>-->
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Contract_Project_Manager' | translate}}

        </label>
        <!--<input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Category' | translate}}" formControlName="custCatCode">-->
        <!--<label for="exampleFormControlSelectCatCode">{{'Category' | translate}}</label>-->
        <auto-loader [isLoading]="isDataLoading"></auto-loader>
        <input type="text" class="form-control"
               placeholder="{{'Please_Select' | translate}} {{'Contract_Project_Manager' | translate}}"
               [formControl]="catProjectManagerControl"
               matInput
               [matAutocomplete]="auto3">

        <mat-autocomplete #auto3="matAutocomplete">
          <mat-option *ngFor="let option of filteredContProjectManagerCodes | async"
                      [value]="option.text">
            <!--[value]="option.text + '-' + option.value"> (optionSelected)="selectedOption($event)" -->
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <!--<div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="contProjSupervisor">{{'Contract_SuperVisor' | translate}}</label>

        <input class="form-control" id="contProjSupervisor" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Contract_SuperVisor' | translate}} "
               formControlName="contProjSupervisor">
        <validation-message [control]="form.controls.contProjSupervisor"></validation-message>
      </div>
    </div>-->
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Contract_SuperVisor' | translate}}

        </label>
        <!--<input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Category' | translate}}" formControlName="custCatCode">-->
        <!--<label for="exampleFormControlSelectCatCode">{{'Category' | translate}}</label>-->
        <auto-loader [isLoading]="isDataLoading"></auto-loader>
        <input type="text" class="form-control"
               placeholder="{{'Please_Select' | translate}} {{'Contract_SuperVisor' | translate}}"
               [formControl]="catSuperVisorCodeControl"
               matInput
               [matAutocomplete]="auto2">

        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let option of filteredContSuperVisorCodes | async"
                      [value]="option.text">
            <!--[value]="option.text + '-' + option.value"> (optionSelected)="selectedOption($event)" -->
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'Remarks' | translate}}</label>
        <textarea class="form-control" placeholder="{{'PleaseEnter' | translate}} {{'Remarks' | translate}}"
                  formControlName="remarks">
                  </textarea>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Contract_Approved_Authorities' | translate}}

        </label>
        <!--<input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Category' | translate}}" formControlName="custCatCode">-->
        <!--<label for="exampleFormControlSelectCatCode">{{'Category' | translate}}</label>-->
        <auto-loader [isLoading]="isDataLoading"></auto-loader>
        <input type="text" class="form-control"
               placeholder="{{'Please_Select' | translate}} {{'Contract_Approved_Authorities' | translate}}"
               [formControl]="catApproveAuthControl"
               matInput
               [matAutocomplete]="auto1">

        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of filteredContApprovAuthCodes | async"
                      [value]="option.text">
            <!--[value]="option.text + '-' + option.value"> (optionSelected)="selectedOption($event)" -->
            {{option.text}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <!--<div class="col-md-6 col-lg-6">
        <div class="form-group">
            <label for="contApprAuthorities">{{'Contract_Approved_Authorities' | translate}}</label>
            <input class="form-control" id="contApprAuthorities" type="text"
                placeholder="{{'Please_Enter' | translate}} {{'Contract_Approved_Authorities' | translate}}"
                formControlName="contApprAuthorities">
            <validation-message [control]="form.controls.contApprAuthorities"></validation-message>
        </div>
    </div>-->
    <!--//=========================autocomplete===================================-->
    <!--//==========================endautocomplete================================-->

  </div>

  <br>

  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="form-group">
        <label for="isAppreoved">{{'Is_Approved' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isAppreoved"></mat-slide-toggle>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="form-group ">
        <label class="mr-sm-2">
          {{'Approved_Date' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control"
                 placeholder=" {{'Please_Enter' | translate}} {{'Approved_Date' | translate}}"
                 formControlName="approvedDate" [matDatepicker]="picker">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <validation-message [control]="form.controls.approvedDate"></validation-message>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="form-group">
        <label for="isActive">{{'Is_Active' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
      </div>
    </div>

    <div class="col-md-3 col-lg-3">
      <div class="form-group">
        <label for="isSheduleRequired">{{'Schedule Required' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isSheduleRequired"></mat-slide-toggle>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="UploadDocuments">{{'Attachments ' | translate}}</label>
        <br />
        <input type="file" multiple (change)="onSelectFiles($event)">
        <br /><br />
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <a href="{{file1Url}}" *ngIf="file1Url!=null && file1Url!=''" target="_blank">Download file</a>            <br />            <br />
            <a href="{{file2Url}}" *ngIf="file2Url!=null && file2Url!=''" target="_blank">Download file</a>            <br />            <br />
            <a href="{{file3Url}}" *ngIf="file3Url!=null && file3Url!=''" target="_blank">Download file</a>            <br />            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br>

  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="button" class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
      <input type="submit" class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
             value="{{'Save' | translate}}" />
    </div>
  </div>
</form>


<div class="modal fade show" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true"
     [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activityModalLabel">Activities</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let discipline of disciplines">
          <strong>{{ discipline.disciplineName }}</strong>
          <div *ngFor="let activity of discipline.activities">
            <label>
              <input type="checkbox" [(ngModel)]="activity.selectCheckBox" />
              {{ activity.actCode }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 col-lg-12 text-center">
          <input type="button" class="btn waves-effect waves-light btn-rounded btn-secondary btn-midblock"
                 value="{{'Back' | translate}}" (click)="closeModal()" /> &nbsp;
          <input type="button" class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                 value="{{'Save' | translate}}" (click)="saveActivities()" />
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  /* Style the Activities button */
  button.btn-primary.ml-2 {
    margin-left: 10px;
    white-space: nowrap;
    width: 100px; /* Smaller button width */
    height: 35px; /* Smaller button height */
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  /* Modal styling */
  .modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Ensure modal is vertically and horizontally centered */
  .modal-dialog {
    max-width: 500px; /* Smaller modal width */
    width: 70%; /* Modal width relative to screen */
    margin: 1.75rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 400px; /* Smaller modal height */
    align-items:center;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-body {
    padding: 15px;
    font-size: 14px;
    height: calc(100% - 90px); /* Adjust body height based on modal content */
    overflow-y: auto;
  }

  .modal-footer {
    padding: 10px;
    text-align: right;
  }

  /* Close button styling */
  .btn-close {
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    opacity: 0.5;
    cursor: pointer;
  }

    .btn-close:hover {
      opacity: 1;
    }

  /* Secondary and primary buttons in modal */
  .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  /* Add responsiveness for smaller screens */
  @media (max-width: 576px) {
    .modal-dialog {
      max-width: 80%;
      height: auto;
    }

    .modal-content {
      height: auto;
    }
  }

</style>
