.btn-group {
  display: flex;
  width: 10px;
}

.btn {
  margin: 5px;
}
.status-selectitems {
  width: 115px;
  font-size: 14px;
  padding: 2px;  
  margin: 0;
}
.td-actions {
  border-radius: 0px 15px 15px 0px;
  padding: 0px;
  display: inline-flex;
  padding-top: 1rem;
}
