<h3 class="modal-title">{{'Inventory_Distribution_Group' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="outer ">
    <div class="row rowm0 mt-3">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Account_Group_Code' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Account_Group_Code' | translate}}"
                 formControlName="invDistGroup">
          <validation-message [control]="form.controls.invDistGroup"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group ">
          <label>{{'Inventory_Asset_Account' | translate}}</label>

          <ng-select [items]="accountCodeList"
                     bindLabel="value"
                     bindValue="textTwo" formControlName="invAssetAc" class="">  </ng-select>
          <validation-message [control]="form.controls.invAssetAc"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group ">
          <label>{{'Offset_GL_Account_1' | translate}}</label>

          <ng-select [items]="accountCodeList"
                     bindLabel="value"
                     bindValue="textTwo" formControlName="invNonAssetAc">  </ng-select>
          <validation-message [control]="form.controls.invNonAssetAc"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group ">
          <label>{{'Offset_GL_Account_2' | translate}}</label>
          <ng-select [items]="accountCodeList"
                     bindLabel="value"
                     bindValue="textTwo" formControlName="invCashPOAC">  </ng-select>
          <validation-message [control]="form.controls.invCashPOAC"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group ">
          <label>{{'Clearing_GL_Account_3' | translate}}</label>
          <ng-select [items]="accountCodeList"
                     bindLabel="value"
                     bindValue="textTwo" formControlName="invCOGSAc">  </ng-select>
          <validation-message [control]="form.controls.invCOGSAc"></validation-message>
        </div>
      </div>

    </div>
    <div class="row customrow mt-4">
      <div class="col-lg-12 col-md-12 text-center">
        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="closeModel()" />
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
      </div>
    </div>
  </div>
</form>
