<h3> {{modalTitle}} <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button></h3>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4" #myform="ngForm">
  <div class="modal-body">
    <div *ngIf="id>0">
      {{'Request_Number' |translate}}:{{id}}
    </div>
    <div class="outer ">
      <div class="row rowm0 ">

        <div class="col-md-12 col-lg-12">

          <div class="row mt-3">
            <div class="col-md-12 col-lg-12">
              <div class="p-3" style="border:1px solid #f4f4f4;">
                <div class="row  mt-2" id="inputEntry">

                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Customer_Code' | translate}}</label>
                    <div class="form-group ">
                      <div class="input-group mb-2">
                        <auto-loader [isLoading]="isDataLoading"></auto-loader>
                        <input type="text" class="form-control"
                               placeholder="{{'Please_Enter' | translate}} {{'Customer_Code' | translate}}"
                               [formControl]="custCodeControl"
                               matInput
                               [matAutocomplete]="auto3">
                        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="onSelectionCustomerCode($event,1)">
                          <mat-option *ngFor="let option of filteredCustCodes | async"
                                      [value]="option.value" style="font-size:smaller">
                            {{ isArabic?option.textTwo:option.text}}
                          </mat-option>
                        </mat-autocomplete>

                      </div>

                      <span *ngIf="!(form.get('customerCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.customerCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('customerCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>


                    </div>

                  </div>


                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Project' | translate}}</label>
                    <div class="form-group ">
                      <div class="input-group mb-2">

                        <select class="custom-select mr-sm-2" formControlName="projectCode" (change)="onSelectionProjectCode()">
                          <option value=''>{{'Select' | translate}} {{'Project' | translate}} </option>
                          <option *ngFor="let pr of projectsList" value="{{pr.value}}">{{pr.value}}</option>
                        </select>
                      </div>


                      <span *ngIf="!(form.get('projectCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.projectCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('projectCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>


                    </div>

                  </div>
                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Site' | translate}}</label>
                    <div class="form-group ">
                      <div class="input-group mb-2">

                        <select class="custom-select mr-sm-2" formControlName="siteCode" (change)="onSelectionSiteCode()">
                          <option value=''>{{'Select' | translate}} {{'Site' | translate}} </option>
                          <option *ngFor="let s of siteCodeList" value="{{s.siteCode}}">{{ isArabic?s.siteArbName:s.siteName}}</option>
                        </select>
                      </div>


                      <span *ngIf="!(form.get('siteCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.siteCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('siteCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>


                    </div>

                  </div>






                </div>

              </div>
            </div>

            <div class="col-md-12 col-lg-12" style="padding-top:5px">

              <div class="row  mt-2">


                <div class="table-responsive">
                  <table class="table  table-bordered no-wrap">
                    <tr>

                      <th>
                        {{'Skillset'|translate}}
                      </th>
                      <th>
                        {{'Quantity'|translate}}
                      </th>
                      <th>
                        {{'From_Date'|translate}}
                      </th>
                      <th>
                        {{'To_Date'|translate}}
                      </th>
                      <th>
                        {{'Price_Per_Unit'|translate}}
                      </th>
                      <th>
                        {{'Total_Price'|translate}}
                      </th>
                      <th>
                        {{'Action'|translate}}
                      </th>
                    </tr>
                    <tr>

                      <td>
                        <!--<input type="text" class="form-control" [(ngModel)]="editResource.skillsetCode" [ngModelOptions]="{standalone: true}">-->
                        <select class="custom-select mr-sm-2" [(ngModel)]="editResource.skillsetCode" [ngModelOptions]="{standalone: true}">
                          <option value="">{{'Select' | translate}} {{'Skillset_Code' | translate}} </option>
                          <option *ngFor="let ss of skillSetsList" value="{{ss.value}}">{{ !isArabic?ss?.text:ss?.textTwo}}</option>
                        </select>


                      </td>
                      <td>
                        <input type="number" class="form-control" [(ngModel)]="editResource.qty" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>

                        <div class="input-group mb-2">
                          <input class="form-control datapickerinput" [(ngModel)]="editResource.fromDate" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker1" placeholder="{{'Please_Enter' | translate}} {{'Project_End_Date' | translate}}" [min]="projectData?.startDate" [max]="projectData?.endDate" (click)="openDatePicker(picker1)">

                          <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                          </div>

                        </div>





                      </td>
                      <td>
                        <div class="input-group mb-2">
                          <input class="form-control datapickerinput" [(ngModel)]="editResource.toDate" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2" placeholder="{{'Please_Enter' | translate}} {{'Project_End_Date' | translate}}" [min]="projectData?.startDate" [max]="projectData?.endDate" (click)="openDatePicker(picker2)">

                          <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>

                          </div>

                        </div>


                      </td>
                      <td>
                        <input type="number" class="form-control" [(ngModel)]="editResource.pricePerUnit" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>{{editResource.qty*editResource.pricePerUnit}}</td>
                      <td class="clickaction clickicons">
                        <span (click)="addUpdate()" [matTooltip]="translateToolTip('Add')"><i class=" fas fa-plus-circle"></i>&nbsp;</span>


                      </td>
                    </tr>
                  </table>
                </div>




              </div>

            </div>
            <div *ngIf="resourceList.length!=0" class="col-md-12 col-lg-12" style="padding-top:5px">

              <div class="row  mt-2">


                <div class="table-responsive">
                  <table class="table  table-bordered no-wrap">
                    <tr>

                      <th>
                        {{'Skillset'|translate}}
                      </th>
                      <th>
                        {{'Quantity'|translate}}
                      </th>
                      <th>
                        {{'From_Date'|translate}}
                      </th>
                      <th>
                        {{'To_Date'|translate}}
                      </th>
                      <th>
                        {{'Price_Per_Unit'|translate}}
                      </th>
                      <th>
                        {{'Total_Price'|translate}}
                      </th>
                      <th>
                        {{'Action'|translate}}
                      </th>
                    </tr>
                    <tr *ngFor="let row of resourceList; let i=index;">

                      <td>{{getSkillSet(row?.skillsetCode).text}}</td>
                      <td>{{row?.qty}}</td>
                      <td>{{ToDateString(row?.fromDate)}}</td>
                      <td>{{ToDateString(row?.toDate)}}</td>
                      <td>{{row?.pricePerUnit}}</td>
                      <td>{{row?.pricePerUnit*row?.qty}}</td>
                      <td class="clickaction clickicons">
                        <span (click)="edit(i)" [matTooltip]="translateToolTip('Edit')"><i class=" fas fa-edit"></i>&nbsp;</span>
                        <span (click)="delete(i)" [matTooltip]="translateToolTip('Delete')"><i class="far fa-trash-alt"></i>&nbsp;</span>

                      </td>
                    </tr>
                  </table>
                </div>




              </div>

            </div>

          </div>

        </div>
        <div class="col-md-12 col-lg-12">

          <div class="row mt-3 ">
            <div class="col-md-12 col-lg-12 text-center">
              <input type="button"
                     class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
                     value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
              <span *ngIf="resourceList.length!=0 && modalBtnTitle != 'View'">
                <input type="submit"
                       class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                       value="{{'Save' | translate}}" />
              </span>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>
  
</form>
