
<h3 class="modal-title">{{modalTitle | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row">

    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'Form_Code' | translate}}</label>
        <input class="form-control" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'Form_Code' | translate}}" formControlName="surveyFormCode" readonly="readonly">
        <validation-message [control]="form.controls.surveyFormCode"></validation-message>
      </div>
    </div>





    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label>{{'Service_Code' | translate}}</label>
        <select class="custom-select mr-sm-2" formControlName="serviceCode">
          <option value="">{{'Select' | translate}} {{'Service_Code' | translate}} </option>
          <option *ngFor="let cty of serviceCodeList" value="{{cty.value}}">{{cty.value}}</option>
        </select>
      </div>
    </div>
    












  </div>
  <div class="row customrow">
    <div class="col-lg-12 col-md-12 text-center">
      <input type="button"
             class="btn btn-secondary"
             value="{{'Cancel' | translate}}" (click)="closeModel()" />

      &nbsp;&nbsp;
      <input type="submit" class="btn waves-effect waves-light   btn-primary  " value="{{'Save' | translate}}">

    </div>
  </div>
</form>
