<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
                {{'Schedules' | translate}}
            </h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted">{{'PROfm_Managment' | translate}} </li>
                        <li class="breadcrumb-item text-muted ">{{'Schedules' | translate}}</li>
                        <li class="breadcrumb-item active" aria-current="page">{{'Schedules List Dates' | translate}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="form"  novalidate class="mt-4">
                  <div class="row">
                    <div class="col-md-6 col-lg-6">
                      <input type="button" class="btn waves-effect waves-light btn-primary btn-midblock w-20"
                             (click)="showCalander()" style="width: 15%; border-radius:10px" value="{{'Calendar' | translate}}" />&nbsp;&nbsp;&nbsp;
                      <br /><br />
                    </div>
                    <div class="col-md-6 col-lg-6">
                    
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-lg-2">
                      <div class="form-group ">
                        <label class="mr-sm-2">
                          {{'Start Date' | translate}}
                        </label>
                        <div class="form-group ">
                          <div class="input-group ">
                            <input class="form-control datapickerinput"
                                   placeholder=" {{'Please_Enter' | translate}} {{'Start Date' | translate}}"
                                   formControlName="startDate" [matDatepicker]="picker1">
                            <div class="input-group-prepend datapickericon">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                      <div class="form-group ">
                        <label class="mr-sm-2">
                          {{'End Date' | translate}}
                        </label>
                        <div class="form-group ">
                          <div class="input-group ">
                            <input class="form-control datapickerinput"
                                   placeholder=" {{'Please_Enter' | translate}} {{'End Date' | translate}}"
                                   formControlName="endDate" [matDatepicker]="picker2">
                            <div class="input-group-prepend datapickericon">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 col-lg-4">
                      <div class="form-group ">
                        <label class="mr-sm-2">
                          {{'Customer_Contract' | translate}}
                        </label>
                        <!--<input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Customer_Contract' | translate}}" formControlName="itemBaseUnit">-->

                        <select class="custom-select mr-sm-2" formControlName="contractId">
                          <option value="">Choose Customer_Contract</option>
                          <ng-container *ngIf="CustomerContractList">
                            <option *ngFor="let ccl of CustomerContractList" value="{{ccl.value}}">{{ccl.text}}</option>
                          </ng-container>
                        </select>
                        <!--<validation-message [control]="form.controls.contractId"></validation-message>-->
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                      <div class="form-group ">
                        <label class="mr-sm-2">
                          {{'Select_Status' | translate}}
                        </label>
                        <ng-select [items]="statusSelectionList"
                                   bindLabel="text"
                                   bindValue="value" formControlName="status" placeholder="{{'Select_Status' |translate}}">
                        </ng-select>
                      </div>
                      </div>
                        <div class="col-md-2 col-lg-2">
                          <div class="form-group ">
                            <label class="mr-sm-2">
                              &nbsp;
                            </label><br />
                            <button (click)="searchFilter()" class="btn btn-primary"> {{'Search' | translate}}</button>
                          </div>
                        </div>
                      </div>
</form>
                  <br>
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                              <spinner-loader [isLoading]="isLoading"></spinner-loader>
                              <div class="mat-elevation-z8">
                                <ng-container>
                                  <table mat-table [dataSource]="data" matSortDisableClear matSort
                                         class="table  table-bordered no-wrap">
                                    <ng-container matColumnDef="contractCode">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Contract Code' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.contractCode }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="siteName">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Site Name' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.siteName }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="customerName">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Customer Name' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="schDate">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Schedule Date' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.schDate | date: 'fullDate' }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="time">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Time' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ formatTime(row.time) }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="department">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Department' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.department }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="remarks">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Description/Task' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.remarks }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="tranNumber">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Transcation Number' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.tranNumber }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="statusStr">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Status' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ row.statusStr }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </td>
                                    </ng-container>
                                    <!--<ng-container matColumnDef="serType">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Service Type' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">
                                        {{ row.serType }}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="frequency">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Frequency' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">{{ row.frequency }}</td>
                                    </ng-container>-->

                                    <ng-container matColumnDef="action">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'Action' | translate}}
                                      </th>
                                      <td mat-cell *matCellDef="let row">
                                        <a class="tableicons" matTooltip="Schedule Details"
                                           (click)="ticketdetail(row)"><i class="icon-list"> </i></a> &nbsp;

                                        <select class="custom-select mr-sm-2 status-selectitems" (change)="changeStatus($event,row)" [disabled]="(row.pptStatus == joStatusVoid || row.pptStatus == joStatusCompleted)" style="width:135px;">
                                          <option value="0">{{ 'Set_Status' | translate}}</option>
                                          <option *ngFor="let item of statusSelectionListActionItems(row.pptStatus)" value="{{item.value}}" [selected]="item.value == row.pptStatus">{{item.text}}</option>
                                        </select>
                                      </td>
                                    </ng-container>

                                    <tr mat-header-row
                                        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns">
                                    </tr>
                                  </table>
                                  <ng-container>
                                    <mat-paginator [length]="totalItemsCount" [pageSize]="pageService.pageCount"
                                                   [pageSizeOptions]="pageService.selectItemsPerPage" (page)="onPageSwitch($event)">
                                    </mat-paginator>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row mt-2 md-2 pb-2 mr-3">
        <div class="col-md-12 col-lg-12 text-right">
          <input type="submit" class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                 value="{{'Save' | translate}}" />
        </div>
      </div>-->
              </div>
            </div>
        </div>
    </div>




</div>
