<h3 class="modal-title">{{ modalTitle | translate}}</h3> <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="modal-body">
    <div class="outer ">
      <div class="row rowm0 ">

        <div class="col-md-12 col-lg-12">
          <div class="row  " hidden>



          </div>
          <div class="row mt-3">
            <div class="col-md-12 col-lg-12">
              <div class="p-3" style="border:1px solid #f4f4f4;">
                <div class="row  mt-2">
                  <div class="col-md-3 col-lg-3">

                    <div class="form-group">
                      <label class="mr-sm-2">{{'Survey_Form_Code' | translate}}</label>
                      <input class="form-control" type="text" placeholder="{{'Please_Enter' | translate}} {{'Survey_Form_Code' | translate}}" formControlName="surveyFormCode" readonly>
                      <validation-message [control]="form.controls.surveyFormCode"></validation-message>
                    </div>

                  </div>

                  <div class="col-md-3 col-lg-3">

                    <div class="form-group ">
                      <label class="mr-sm-2">{{'Form_English_Name' | translate}}</label>
                      <input class="form-control" type="text" placeholder="  {{'Form_English_Name' | translate}}" formControlName="surveyFormNameArb">
                      <validation-message [control]="form.controls.surveyFormNameArb"></validation-message>
                    </div>

                  </div>
                  <div class="col-md-3 col-lg-3">
                    <div class="form-group ">
                      <label class="mr-sm-2">{{'Form_Arabic_Name' | translate}}</label>
                      <input class="form-control" type="text" placeholder="{{'Please_Enter' | translate}} {{'Form_Arabic_Name' | translate}}" formControlName="surveyFormNameEng">
                      <validation-message [control]="form.controls.surveyFormNameEng"></validation-message>
                    </div>

                  </div>

                  <div class="col-md-12 col-lg-12">
                    <div class="form-group ">
                      <label class="mr-sm-2">{{'Remarks' | translate}}</label>
                      <textarea class="form-control" placeholder="{{'Please_Select' | translate}} {{'Remarks' | translate}}" formControlName="remarks">
                        <validation-message [control]="form.controls.remarks"></validation-message>
</textarea>

                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="table-responsive">
        <table id="zero_config" class="table  table-bordered no-wrap">
          <thead>
            <tr>
              <th>{{'Element_Code' | translate}}</th>
              <th>{{'Element_English_Name' | translate}}</th>
              <th>{{'Element_Arab_Name' | translate}}</th>
              <th>{{'Element_Type' | translate}}</th>


              <!--<th>{{'Estimated_Price' | translate}}</th>-->
              <!--<th>{{'Status' | translate}}</th>-->

              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <!--<input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Element_Code' | translate}}" [(ngModel)]="siteCode" [ngModelOptions]="{standalone: true}">-->


                <select class="custom-select mr-sm-2" [(ngModel)]="formElementCode" [ngModelOptions]="{standalone: true}" (change)="getElementDetails($event)">
                  <option value="">{{'Select' | translate}} {{'Element_Code' | translate}} </option>
                  <option *ngFor="let sc of elementCodeList" value="{{sc.value}}">{{sc.text}}-{{sc.textTwo}}</option>
                </select>








              </td>

              <td>
                <input class="form-control" type="text" placeholder="  {{'Element_English_Name' | translate}}" [(ngModel)]="elementEngName" [ngModelOptions]="{standalone: true}" readonly="readonly">

              </td>
              <td>
                <input class="form-control" type="text" placeholder="  {{'Element_Arab_Name' | translate}}" [(ngModel)]="elementArbName" [ngModelOptions]="{standalone: true}" readonly="readonly">

              </td>



              <td>
                <input class="form-control" type="text" placeholder="   {{'Element_Type' | translate}}" [(ngModel)]="elementType" [ngModelOptions]="{standalone: true}" readonly="readonly">

              </td>

              <td class="text-center"> <i class="fas fa-plus-circle" (click)="addElement()"> </i></td>

            </tr>
          </tbody>
          <tr>
            <td colspan="10"></td>
          </tr>
          <thead>
            <tr>
              <th>{{'Element_Code' | translate}}</th>
              <th>{{'Element_English_Name' | translate}}</th>
              <th>{{'Element_Arab_Name' | translate}}</th>
              <th>{{'Element_Type' | translate}}</th>

              <th></th>




            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listOfElements; let i = index;">
              <td>{{item.formElementCode}}</td>
              <td>{{item.elementEngName}}</td>
              <td>{{item.elementArbName}}</td>
              <td>{{item.elementType}}</td>
              <td> <i class="fas fa-minus-circle" (click)="removeElement(i)"></i></td>

            </tr>

        </table>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <div class="row mt-3 ">
      <div class="col-md-12 col-lg-12 text-center">
        <input type="button"
               class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
               value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
        <input type="submit"
               class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
               value="{{'Save' | translate}}" />
      </div>
    </div>


  </div>
</form>

