<h3 class="modal-title">{{'Map_Login_To_Site'| translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <form [formGroup]="customerForm">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label>{{'Select_Customer_Code' | translate}}</label>
            <input type="text"
                   class="form-control"
                   formControlName="custCode"
                   (input)="onCustomerSelect($event)"
                   list="customerList" />
            <datalist id="customerList">
              <option *ngFor="let code of CustomerCodeList" [value]="code.value">{{code.text}}</option>
            </datalist>
            <validation-message [control]="customerForm.controls.custCode"></validation-message>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label>{{'Select_Customer_LoginCode' | translate}}</label>
            <select class="custom-select mr-sm-2" formControlName="userClientLoginCode" (change)="onCustomerLoginCodeSelect($event)">
              <option value="">{{'Select' | translate}} {{'Customer_Code' | translate}} </option>
              <ng-container *ngIf="CustomerLoginList">
                <option *ngFor="let item of CustomerLoginList" value="{{item.value}}">{{ item.text }}</option>
              </ng-container>
            </select>
            <validation-message [control]="customerForm.controls.userClientLoginCode"></validation-message>
          </div>
        </div>
      </div>
    </form>

    <table class="table mt-3">
      <thead>
        <tr>
          <th>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <th>Site Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of sitesList">
          <td>
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
          <td>{{ (row.text + ' (' + row.value +')' )}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <button class="btn btn-primary" (click)="saveMapping()">Save</button> &nbsp;&nbsp;
    <button class="btn btn-secondary" data-dismiss="modal" (click)="closeModel()">Cancel</button>
  </div>
</div>
