

        <h3 class="modal-title">{{'Add_New_Material_Equipment_Master' | translate}} </h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModel()"
                aria-hidden="true">
          ×
        </button>

        <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">

          <div class="row">


            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Code' | translate}}</label>
                <!--<input class="form-control" type="text"
         [ngClass]="{ 'is-invalid': f.code.errors && f.code.touched}" (keyup)="verifyCode($event)"
         placeholder="{{'Please_Enter' | translate}} {{'Code' | translate}}" formControlName="code"  readonly={{readonly}}>
  <div *ngIf="f.code.errors" class="invalid-feedback">
    <div *ngIf="f.code.errors.required">{{'Required' | translate}}</div>

    <div *ngIf="f.code.errors.isExist">
      {{'Code Already Exists' | translate}}
    </div>-->

                <input class="form-control" type="text" placeholder="{{'Please_Enter' | translate}} {{'Code' | translate}}" formControlName="code" readonly>





              </div>
           
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Category' | translate}}</label>
                           <select class="form-control" formControlName="category">
                  <option value="">{{'Select' | translate}} {{'Category' | translate}} </option>
                  <option>Equipment</option>
                  <option>Inventory</option>

                </select>
                <validation-message [control]="form.controls.category"></validation-message>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Name_In_English' | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'Please_Enter' | translate}} {{'Name_In_English' | translate}}" formControlName="nameInEnglish">
                <validation-message [control]="form.controls.nameInEnglish"></validation-message>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Name_In_Arabic' | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'Please_Enter' | translate}} {{'Name_In_Arabic' | translate}}" formControlName="nameInArabic">
                <validation-message [control]="form.controls.nameInArabic"></validation-message>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Type' | translate}}</label>
                <!--<input class="form-control" type="text"
         placeholder="{{'Please_Enter' | translate}} {{'Type' | translate}}" formControlName="type">-->

                <select class="form-control" formControlName="type">
                  <option value="">{{'Select' | translate}} {{'Type' | translate}} </option>
                  <option>Asset</option>
                  <option>Consumable</option>

                </select>

                <validation-message [control]="form.controls.type"></validation-message>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Estimated_Cost_Value' | translate}}</label>
                <input class="form-control" type="number"
                       placeholder="{{'Please_Enter' | translate}} {{'Estimated_Cost_Value' | translate}}" formControlName="estimatedCostValue">
                <validation-message [control]="form.controls.estimatedCostValue"></validation-message>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Is_Depreciation_Applicable' | translate}}</label>
                <br />
                <mat-slide-toggle color="primary" formControlName="isDepreciationApplicable"></mat-slide-toggle>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Minimum_Cost_Per_Usage' | translate}}</label>
                <input class="form-control" type="number"
                       placeholder="{{'Please_Enter' | translate}} {{'Minimum_Cost_Per_Usage' | translate}}" formControlName="minimumCostPerUsage">
                <validation-message [control]="form.controls.minimumCostPerUsage"></validation-message>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Depreciation_Per_Year' | translate}}</label>
                <input class="form-control" type="number"
                       placeholder="{{'Please_Enter' | translate}} {{'Depreciation_Per_Year' | translate}}" formControlName="depreciationPerYear">
                <validation-message [control]="form.controls.depreciationPerYear"></validation-message>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Usage_Life_terms_Year' | translate}}</label>
                <input class="form-control" type="number"
                       placeholder="{{'Please_Enter' | translate}} {{'Usage_Life_terms_Year' | translate}}" formControlName="usageLifetermsYear">
                <validation-message [control]="form.controls.usageLifetermsYear"></validation-message>
              </div>
            </div>


            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Is_Active' | translate}}</label>
                <br />
                <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>{{'Remarks' | translate}}</label>
                <textarea class="form-control"
                          placeholder="{{'Please_Enter' | translate}} {{'Remarks' | translate}}" formControlName="remarks"></textarea>
              </div>
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-md-12 col-lg-12 text-center">
              <input type="button"
                     class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock" (click)="closeModel()"
                     value="{{'Cancel' | translate}}" /> &nbsp;
              <input type="submit"
                     class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                     value="{{'Save' | translate}}" />
            </div>
          </div>
</form>
