<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Service Item' | translate}}
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item text-muted">{{'PROfm_Managment' | translate}} </li>
            <li class="breadcrumb-item text-muted ">{{'Service Item' | translate}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{'Service Item List' | translate}} </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row pb-3">
            <div class="col-md-12 col-lg-12">
              <h4 class="card-title pt6">{{'Manage Service Items' | translate}} </h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" placeholder="{{'Search' | translate}}..." [(ngModel)]="searchValue" />
            </div>
            <div class="col-md-4 arabicright">
              <button (click)="applyFilter(searchValue)" class="btn btn-primary">{{'Search' | translate}}</button>
              &nbsp;
              <a (click)="refresh()" class=""><i class="btn btn-primary icon-refresh"></i></a>
            </div>
            <div class="col-md-5 col-lg-5 text-right">
              <a data-toggle="modal" data-target="#createnewbranch"
                class="btn waves-effect waves-light btn-rounded btn-outline-primary" (click)="create()" href="#"> <i
                  class="icon-plus"> </i>{{'Add Service Item' | translate}} </a>
            </div>
          </div>
          <div class="cardtitle-divider"></div>
          <div class="table-responsive">
            <spinner-loader [isLoading]="isLoading"></spinner-loader>
            <div class="mat-elevation-z8">
              <ng-container>
                <table mat-table [dataSource]="data" matSortDisableClear matSort class="table  table-bordered no-wrap">
                  <ng-container matColumnDef="serviceCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Service Code' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.serviceCode }}</td>
                  </ng-container>
                  <ng-container matColumnDef="serviceShortDesc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Service Short Desc' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.serviceShortDesc }}</td>
                  </ng-container>
                  <ng-container matColumnDef="timeUnitPrimary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Time Unit Primary' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ utilService.formatToTimeSpanTime(row.timeUnitPrimary)}}</td>
                  </ng-container>
                  <ng-container matColumnDef="resourceUnitPrimary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Resource Unit Primary' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.resourceUnitPrimary }}</td>
                  </ng-container>
                  <ng-container matColumnDef="potentialCost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Potential Cost' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.potentialCost }}</td>
                  </ng-container>
                  <ng-container matColumnDef="primaryUnitPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Primary Unit Price' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.primaryUnitPrice }}</td>
                  </ng-container>
                  <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'IsActive' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.isActive }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>{{'Actions' | translate}}</th>
                    <td mat-cell *matCellDef="let row">
                      <a class="tableicons" (click)="edit(row.id)" matTooltip="{{'Edit_Item' | translate}}"><i
                          class="icon-note"> </i></a> &nbsp;
                      <a class="tableicons" (click)="delete(row.id)" mattooltip="{{'delete_item' | translate}}"><i
                          class="icon-trash"> </i></a>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <ng-container>
                  <mat-paginator [length]="totalItemsCount" [pageSize]="pageService.pageCount"
                    [pageSizeOptions]="pageService.selectItemsPerPage">
                  </mat-paginator>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
