<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="submit"
             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
             value="{{'Approve' | translate}}" /> &nbsp;

      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Reject' | translate}}" (click)="rejectEnquiry()" /> &nbsp;
      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;

    </div>
  </div>
  </form>
