/*button.close {
  background-color: red !important;
  color: white;
  border-radius: 100%;
  padding: 4px!important;
  width: 32px;
  height: 32px;
}*/
.pcursor {
  cursor: pointer;
}

.close {
  font-size: 40px !important;
  font-weight: 400 !important;
  position: relative;
  top: -38px;
}

.clickicons i {
  font-size: 20px
}

.voucher-width-120 {
  width: 120px !important;
}

.voucher-width-180 {
  width: 180px;
}

.voucher-width-200 {
  width: 200px !important;
}

.voucher-width-230 {
  width: 230px;
}

.voucher-width-250 {
  width: 250px;
}

.special-date {
  background-color: #fee2e2 !important;
  border-radius: 999px;
}

.special-holiday-date {
  background-color: #a7f3d0 !important;
  border-radius: 999px;
}

.special-event-date {
  background-color: #fde68a !important;
  border-radius: 999px;
}

.spanDiv1 {
  color: red !important;
}

.spanDiv2 {
  color: green !important;
}

.spanDiv3 {
  color: yellow !important;
}

.circle-color {
  width: 17px;
  height: 17px;
  background-color: blue;
  border-radius: 50%;
}

.circle-color-red {
  background-color: red;
}
