<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4" #myform="ngForm" *ngIf="action!='view'">
  <h3> {{modalTitle}} <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button></h3>
  <div class="modal-body">
    <div class="outer ">
      <div class="row rowm0 ">

        <div class="col-md-12 col-lg-12">

          <div class="row mt-3">
            <div class="col-md-12 col-lg-12">
              <div class="p-3" style="border:1px solid #f4f4f4;">
                <div class="row  mt-2" id="inputEntry">

                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Customer_Code' | translate}}</label>
                    <div class="form-group ">
                      <div class="input-group mb-2">
                        <auto-loader [isLoading]="isDataLoading"></auto-loader>
                        <input type="text" class="form-control"
                               placeholder="{{'Please_Enter' | translate}} {{'Customer_Code' | translate}}"
                               [formControl]="custCodeControl"
                               matInput
                               [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onSelectionCustomerCode($event,1)">
                          <mat-option *ngFor="let option of filteredCustCodes | async"
                                      [value]="option.value" style="font-size:smaller">
                            {{ isArabic?option.textTwo:option.text}}-{{option.value}}
                          </mat-option>
                        </mat-autocomplete>

                      </div>

                      <span *ngIf="!(form.get('customerCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.customerCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('customerCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>
                    </div>

                  </div>


                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Project' | translate}}</label>
                    <div class="form-group">
                      <div class="input-group mb-2">

                        <select class="custom-select mr-sm-2" formControlName="projectCode" (change)="onSelectionProjectCode()">
                          <option value=''>{{'Select' | translate}} {{'Project' | translate}} </option>
                          <option *ngFor="let pr of projectsList" value="{{pr.value}}">{{pr.value}}</option>
                        </select>
                      </div>

                      <span *ngIf="!(form.get('projectCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.projectCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('projectCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>
                    </div>

                  </div>
                  <div class="col-md-4 col-lg-4">
                    <label class="mr-sm-2">{{'Site' | translate}}</label>
                    <div class="form-group ">
                      <div class="input-group mb-2">

                        <select class="custom-select mr-sm-2" formControlName="siteCode" (change)="onSelectionSiteCode()">
                          <option value=''>{{'Select' | translate}} {{'Site' | translate}} </option>
                          <option *ngFor="let s of siteCodeList" value="{{s.siteCode}}">{{ isArabic?s.siteArbName:s.siteName}}</option>
                        </select>
                      </div>

                      <span *ngIf="!(form.get('siteCode')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.siteCode"></validation-message>
                      </span>
                      <span *ngIf="form.get('siteCode')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>

                    </div>

                  </div>

                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <label>{{'Reason_Code' | translate}}</label>
                      <ng-select [items]="reasonCodeSelectionList"
                                 bindLabel="text"
                                 bindValue="value" formControlName="reasonCode">

                      </ng-select>



                      <validation-message [control]="form.controls.reasonCode"></validation-message>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <label>{{'Contact_Number' | translate}}</label>
                      <input class="form-control" type="text"
                             placeholder="{{'Please_Enter' | translate}} {{'Contact_Number' | translate}}" formControlName="contactNumber">
                     <!-- <validation-message [control]="form.controls.contactNumber"></validation-message>-->
                      <span *ngIf="!(form.get('contactNumber')?.hasError('required') && myform?.submitted)" style="color:red">
                        <validation-message [control]="form.controls.contactNumber"></validation-message>
                      </span>
                      <span *ngIf="form.get('contactNumber')?.hasError('required')&& myform?.submitted" style="color:red">{{'Required'|translate}}</span>


                    </div>
                  </div>


                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <label>{{'Schedule_Time' | translate}}</label>
                      <input matInput type="datetime-local" class="form-control datapickerinput" placeholder="{{'Schedule_Time' | translate}}"
                             formControlName="scheduleDateTime">
                      <validation-message [control]="form.controls.scheduleDateTime"></validation-message>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <label>{{'Superivisor' | translate}}</label>

                      <ng-select [items]="userSelectionList"
                                 bindLabel="text"
                                 bindValue="value" formControlName="supervisorId">

                      </ng-select>
                      <validation-message [control]="form.controls.supervisorId"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-4 col-lg-4" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Visited_By' | translate}}</label>

                      <ng-select [items]="userSelectionList"
                                 bindLabel="text"
                                 bindValue="value" formControlName="visitedBy">

                      </ng-select>

                      <validation-message [control]="form.controls.visitedBy"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-4 col-lg-4" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Visited_Time' | translate}}</label>

                      <input matInput type="datetime-local" class="form-control datapickerinput" placeholder="{{'Visited_Time' | translate}}"
                             formControlName="visitedDateTime">
                      <validation-message [control]="form.controls.visitedDateTime"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-12" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Supervisor_Remarks' | translate}}</label>
                      <textarea class="form-control" type="text"
                                placeholder="{{'Please_Enter' | translate}} {{'Supervisor_Remarks' | translate}}" formControlName="supervisorRemarks">
</textarea>
                      <validation-message [control]="form.controls.supervisorRemarks"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-12" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Customer_Remarks' | translate}}</label>
                      <textarea class="form-control"
                                placeholder="{{'Please_Enter' | translate}} {{'Customer_Remarks' | translate}}" formControlName="customerRemarks">

</textarea>
                      <validation-message [control]="form.controls.customerRemarks"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-12" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Action_Terms' | translate}}</label>
                      <textarea class="form-control" type="text"
                                placeholder="{{'Please_Enter' | translate}} {{'Action_Terms' | translate}}" formControlName="actionTerms">
                      </textarea>
                      <validation-message [control]="form.controls.actionTerms"></validation-message>
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-12" *ngIf="action=='visit'">
                    <div class="form-group">
                      <label>{{'Customer_Notes' | translate}}</label>
                      <textarea class="form-control"
                                placeholder="{{'Please_Enter' | translate}} {{'Customer_Notes' | translate}}" formControlName="customerNotes"></textarea>
                      <validation-message [control]="form.controls.customerNotes"></validation-message>
                    </div>
                  </div>






                </div>

              </div>
            </div>




          </div>

        </div>
        <div class="col-md-12 col-lg-12">

          <div class="row mt-3 ">
            <div class="col-md-12 col-lg-12 text-center">
              <input type="button"
                     class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
                     value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;

              <input type="submit" *ngIf="action=='new'||action=='edit'"
                     class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                     value="{{'Save' | translate}}" />
              <input type="submit" *ngIf="action=='confirm'"
                     class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                     value="{{'Confirm' | translate}}" />
              <input type="submit" *ngIf="action=='visit'"
                     class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                     value="{{'Submit' | translate}}" />

            </div>
          </div>

        </div>
      </div>

    </div>


  </div>

</form>
<ng-container *ngIf="action=='view'">

  <div>
    <button (click)="print()">{{'Print'|translate}}</button> &nbsp;

    <button type="button" class="" aria-hidden="true" (click)="closeModel()"> Close</button>
  </div>

  <br />
  <br />
  <br />

  <div class="container-fluid invoice-container print-container" style=" width:850px; padding-top:5px; height:100%" id="printableArea">
    <div style="page-break-after: always;  height: 100vh">
       <ng-container id="tableData">
         <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td style="width:35%">
               <h5 style="text-align:left">
                 <strong>

                   {{CompanyData?.companyName}}
                 </strong>
               </h5>
             </td>
             <td style="text-align:center">
               <img class="float-center" src="{{CompanyData?.logoURL}}" style="width:200px;height:150px" />
             </td>
             <td style="width:35%">
               <h5 style="text-align:right">
                 <strong>

                   {{CompanyData?.companyNameAr}}
                 </strong>
               </h5>
             </td>
           </tr>


         </table>
         <table style="width:100%" border="1" cellpadding="5" cellspacing="0">
           <tr style="text-align:center">
             <td style=" border: 1px solid #878787; padding: 5px; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
               {{'Ref.No'|translate}}:{{resultData.id}}
             </td>

             <td style=" border: 1px solid #878787; padding: 5px; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
               {{'Reason_Code'|translate}}:     {{(isArabic?resultData.reasonCodeNameAr:resultData?.reasonCodeNameEng)}}
             </td>

             <td style=" border: 1px solid #878787; padding: 5px; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
               {{'Schedule_Date'|translate}}:   {{resultData?.scheduleDateTime|date:'dd/MM/YYYY'}}
             </td>

             <td style=" border: 1px solid #878787; padding: 5px; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
               {{'Supervisor'|translate}}:  {{resultData?.nameSupervisorId}}
             </td>
           </tr>
           </table>
         <table style="width: 100%;" border="1" cellpadding="5" cellspacing="0">
           <tr style="text-align:center">
             <td width="15%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;word-wrap:break-word">{{'Customer_Name'|translate}}</td>
             <td width="35%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
               {{resultData.projectNameEng}}
               <br />
               {{resultData.projectNameAr}}
             </td>
             <td width="15%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;word-wrap:break-word">{{'Site_Name'|translate}}</td>
             <td width="35%" style="white-space: pre-wrap; border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
               {{resultData.siteNameEng}}
               <br />
               {{resultData.siteNameAr}}
             </td>

           </tr>
           <tr style="text-align:center">

             <td width="15%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;word-wrap:break-word">{{'Customer_Address'|translate}}</td>
             <td width="35%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400; white-space: pre-wrap;">{{resultData.customerAddress}}</td>
             <td width="15%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;word-wrap:break-word">{{'Site_Address'|translate}}</td>
             <td width="35%" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400; white-space: pre-wrap;">{{resultData.siteAddress}}</td>



           </tr>
           <tr>
             <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Visited_Date'|translate}}</td>
             <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
               {{resultData?.visitedDateTime|date:'dd/MM/YYYY'}}
             </td>
             <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Visited_By'|translate}}</td>
             <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
               {{resultData?.nameVisitedBy}}
             </td>

           </tr>

           </table>
           <table style="width: 100%;" border="1" cellpadding="5" cellspacing="0">
             <tr>
               <th colspan="4" style=" border:none; padding: 5px; text-align: left; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
                 {{'Supervisor_Remarks'|translate}}
               </th>
             </tr>
             <tr>
               <td colspan="4" style=" border: none; padding: 5px; text-align: justify;white-space: pre-wrap; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins' , sans-serif; font-weight: 400;">
                 {{resultData?.supervisorRemarks}}
               </td>

             </tr>
             <tr style="border:1px">
               <th colspan="4" style=" border:none; padding: 5px; text-align: left; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
                 {{'Customer_Remarks'|translate}}
               </th>
             </tr>
             <tr>
               <td colspan="4" style="border: none; padding: 5px; text-align: justify; white-space: pre-wrap; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400; ">
                 {{resultData?.customerRemarks}}
               </td>

             </tr>
             <tr>
               <th colspan="4" style=" border: none; padding: 5px; text-align: left; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
                 {{'Customer_Notes'|translate}}
               </th>
             </tr>
             <tr>
               <td colspan="4" style=" border: none; padding: 5px; text-align: justify; white-space: pre-wrap; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
                 {{resultData?.customerNotes}}
               </td>

             </tr>
             <tr>
               <th colspan="4" style=" border: none; padding: 5px; text-align: left; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">
                 {{'Action_Terms'|translate}}
               </th>
             </tr>
             <tr>
               <td colspan="4" style=" border: none; padding: 5px; text-align: justify; white-space: pre-wrap; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 400;">
                 {{resultData?.actionTerms}}
               </td>

             </tr>
           </table>


</ng-container>


      <ng-container id="footer">
        <table style="width: 100%;" border="1" cellpadding="5" cellspacing="0">




          <tr style="background:#808080">
            <td colspan="6"><br /></td>
          </tr>
          <tr style="text-align:center;word-wrap:break-word">
            <td  width="20%"><br /></td>
            <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Operations_Supervisor'|translate}}</td>
            <td width="20%"><br /></td>
            <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Operations_Manager'|translate}}</td>
            <td width="20%"><br /></td>
            <td style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Regional_Manager'|translate}}</td>
          </tr>
          <tr style="text-align:center;word-wrap:break-word;vertical-align:top">
            <td rowspan="2" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;"><br /><br /><br /></td>
            <td rowspan="2" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Signature'|translate}}</td>
            <td rowspan="2"><br /></td>
            <td rowspan="2" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Signature'|translate}}</td>
            <td rowspan="2"><br /></td>
            <td rowspan="2" style=" border: 1px solid #878787; padding: 5px; text-align: center; font-size: 0.675rem !important; color: #000000; font-family: 'Poppins', sans-serif; font-weight: 600;">{{'Signature'|translate}}</td>
          </tr>
          <tr>
          </tr>


        </table>
      </ng-container>

    </div>




    






































    












    


  </div>










</ng-container>



