.left-sidebar {
    position: absolute !important;
    width: 75%;
    height: 650px;
    background: transparent;
    transition: 0.2s ease-in;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
    -moz-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
}
.atag{
    min-width:89%;
}
