<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Schedules' | translate}}
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item text-muted">{{'PROfm_Managment' | translate}} </li>
            <li class="breadcrumb-item text-muted ">{{'Schedules' | translate}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{'Schedules List' | translate}} </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 text-center">
      <!--<input type="button" class="btn waves-effect waves-light btn-primary btn-midblock w-20"
             (click)="showList()" style="width: 15%; border-radius:10px" value="{{'List' | translate}}" />&nbsp;&nbsp;&nbsp;
      <input type="button" class="btn waves-effect waves-light btn-primary btn-midblock w-20" *ngIf="isShowCalander"
             (click)="showCalander()" style="width: 15%; border-radius:10px" value="{{'Calendar' | translate}}" />&nbsp;&nbsp;&nbsp;-->
      <input type="button" class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Back' | translate}}" (click)="closeModel()" /> &nbsp;
    </div>
  </div>
</div>

<div class="row" *ngIf="!isShowList">
  <div class="col-md-4 col-lg-4">
    <div class="calendar">
      <mat-calendar [selected]="selectedDate" [dateClass]="dateClass()" (activeDateChange)="onActiveDateChange($event)"
                    (monthSelected)="monthSelected($event)" (selectedChange)="dateSelected($event)" #calendar></mat-calendar>
    </div>
  </div>
  <div class="col-md-8 col-lg-8">
    <br /><br />
    <div class="table-responsive tableright" *ngIf="scheduleDateData.length>0">
      <table id="zero_config1" class="table  table-bordered no-wrap">
        <thead>
          <tr>
            <th>{{'Contract Code' | translate}}</th>
            <th>{{'Customer Name' | translate}}</th>
            <th>{{'Site Name' | translate}}</th>
            <th>{{'Schedule Date' | translate}}</th>
            <th> {{'Time' | translate}}  </th>
            <th>{{'Department' | translate}}</th>
            <th>{{'Remarks' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of scheduleDateData; let j = index;">
            <td>
              {{row.contractCode}}
            </td>
            <td>
              {{row.customerName}}
            </td>
            <td>
              {{row.siteName}}
            </td>
            <td>
              {{ row.schDate | date: 'fullDate' }}
            </td>
            <td>
              {{ row.time }}
            </td>
            <td>
              {{ row.department }}
            </td>
            <td>
              {{ row.remarks }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--<form [formGroup]="form1" novalidate class="mt-4">-->




<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    width: 5px;
    color: black;
  }

  .custom-textarea {
    width: 110px;
    height: 32px;
  }

  .calendar-container {
    border: 1px solid transparent;
    border-color: #fff #ddd;
    margin: 0 2em 2em
  }

  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events {
    margin-top: 20px;
  }

  .mat-calendar {
    width: 500px;
    /* Set the desired width */
    height: 500px;
    /* Set the desired height */
  }

  @media screen and (max-width: 1200px) {
    .calendar {
      padding: 10px;
      /* Add padding for smaller screens */
    }

    .mat-calendar {
      width: 100%;
      /* Make the calendar fill the entire width */
    }
  }

  /* Adjust layout for screens larger than 600px */
  @media screen and (min-width: 1200px) {
    .calendar {
      justify-content: center;
      /* Center the calendar horizontally */
    }
  }
</style>


